{% extends "base.html" %}

{% block content %}

{% for book in all_books %}
 <p>{{ book.title}}, {{book.genre}}, {{book.author.name}}</p> 
{% endfor %}

<form class="form" action="/books/{{book.id}}/delete" method="POST">
    <label for="title">
        <span>Title:</span>
        <input id="title" name="title" type="text">
    </label>

    <label for="genre">
        <span>Genre:</span>
        <input id="genre" name="genre" type="text">
    </label>

    <label for="author">
        <span>Author:</span>
        <input id="author" name="author" type="text">
    </label>

    <input type="submit" value="Delete Book">
</form>
{% endblock %}

<!-- {% for book in books %}
 <p>{{ book.title}} {{book.genre}} {{book.author}}</p> 
{% endfor %} -->